@model TextField

<!-- Подключаем TinyMCE -->
<script src="https://cdn.tiny.cloud/1/tiyj0l8xod12yl6wsxklu86x6zdz9xukjvmtn0zqe9xl3ya8/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
<script src="https://cdn.tiny.cloud/1/tiyj0l8xod12yl6wsxklu86x6zdz9xukjvmtn0zqe9xl3ya8/tinymce/6/langs/uk.js"></script> <!-- Украинский язык -->

<style>
    .form-container {
        max-width: 600px; /* Set your desired max-width here */
        margin: 0 auto; /* Center the container */
    }

    .div-box {
        margin-bottom: 10px; /* Add some bottom margin to each div-box */
    }
</style>

<div class="form-container">
    <h2>Редагувати запис</h2>
    <div>
        <form asp-area="Hort" asp-controller="TextFields" asp-action="Edit" method="post" enctype="multipart/form-data" onsubmit="return saveContent();">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="DateAdded" />
            <input type="hidden" asp-for="Text" id="text" />
            <div asp-validation-summary="All"></div>
            <div class="div-box">
                <label asp-for="Title">Назва</label>
                <input asp-for="Title" />
                <span asp-validation-for="Title"></span>
            </div>
            <div class="div-box">
                <label asp-for="Text">Текст</label>
                <div id="editor"></div> <!-- Здесь будет Quill редактор -->
                <span asp-validation-for="Text"></span>
            </div>
            <div class="div-box">
                <label asp-for="CodeWord"></label>
                <input asp-for="CodeWord" placeholder="Назва тільки англійською" />
                <span asp-validation-for="CodeWord"></span>
            </div>
            <div class="div-box">
                <label asp-for="Father"></label>
                <select asp-for="Father" asp-items="@(new SelectList(ViewBag.CodeWordsList))" asp-allow-null="true">
                    <option value="">Виберіть значения</option>
                </select>
                <span asp-validation-for="Father"></span>
            </div>
            <div class="div-box">
                <label asp-for="View"></label>
                <select asp-for="View">
                    <option value="">Виберіть шаблон сторінки</option>
                    <option value="About">About</option>
                    <option value="Blog">Blog</option>
                    <option value="Faculty">Faculty</option>
                    <option value="Admissions">Admissions</option>
                    <option value="Event">Event</option>
                    <option value="Index">Home</option>
                    <option value="Gallery">Gallery</option>
                </select>
                <span asp-validation-for="View"></span>
            </div>
            <div class="div-box">
                <label asp-for="Child">Чи будуть дочерні сторінки</label>
                <select asp-for="Child">
                    <option value="true">Так</option>
                    <option value="false">Ні</option>
                </select>
            </div>
            <div class="div-box">
                <label asp-for="Number"></label>
                <input asp-for="Number" placeholder="порядковий номер у меню" />
                <span asp-validation-for="Number"></span>
            </div>
            <input type="submit" value="Зберегти" />
        </form>
    </div>
</div>

<!-- Инициализация TinyMCE -->
<script>
    tinymce.init({
        selector: '#editor',
        plugins: 'lists link image media table code',  // Добавляем плагин media
        toolbar: 'undo redo | formatselect | fontselect fontsizeselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image media | code',  // Добавляем кнопку media
        fontsize_formats: '14pt 16pt 18pt 20pt 22pt 24pt 26pt 28pt 30pt',
        font_formats: 'Times New Roman=times new roman,times,serif;',
        branding: false,
        language: 'uk',  // Устанавливаем украинский язык интерфейса
        setup: function (editor) {
            editor.on('change', function () {
                document.getElementById('text').value = tinymce.get('editor').getContent();
            });
        },
        media_live_embeds: true  // Позволяет загружать видео через вставку ссылок или с помощью тегов
    });

    function saveContent() {
        document.getElementById('text').value = tinymce.get('editor').getContent();
        return true;
    }
</script>
