@model IQueryable<ServiceItem>

@if (Model?.Any() == true)
{
    <section>
        <a asp-area="" asp-controller="Home" asp-action="TextField" asp-route-codeWord="News">
            <h2>Новини</h2>
        </a>
        <ul class="small-image-list">
			@{
                int newsCount = 0;
				foreach (ServiceItem entity in Model)
				{
                    if (entity.Father == "Новини" && newsCount < 6)
					{
                        <li>
                            <a asp-area="" asp-controller="Services" asp-action="Index" asp-route-id="@entity.Id">
                                @entity.Title
                            </a>
                        </li>
                        newsCount++;
					}
				}
			}
        </ul>
    </section>
}