<!--footer-->

    <div class="container">
        <h3 class="widget-title">Соціальні мережі</h3>

        <ul class="social social-boxed">
        <li><a href="https://www.facebook.com/zbk.zp" target="_blank"><i class="fa fa-facebook"></i></a></li>
        <li><a href="https://twitter.com/intent/tweet?text=&url=http%3A%2F%2Fwww.zap-construct.com.ua%2F" target="_blank"><i class="fa fa-twitter"></i></a></li>
        <li><a href="https://www.instagram.com/zbk_zp/" target="_blank"><i class="fa fa-instagram"></i></a></li>
        <li><a href="https://www.youtube.com/channel/UCP6jwfCi2FhR3J1oeKZ2cuA" target="_blank"><i class="fa fa-youtube"></i></a></li>
        <li><a href="https://www.facebook.com/groups/240834973072544/" target="_blank"><i class="fa fa-facebook"></i></a></li>
        </ul><!-- /.social-->
    </div>
<!-- End footer-->
<!--PRELOAD-->
<div id="preloader">
    <div id="status"></div>
</div>
<!--end PRELOAD-->