@model NewsItemDto
@{
    string strTitle = "Редагувати запис";
    ViewBag.Title = strTitle;
}

<!-- Подключаем TinyMCE -->
<script src="https://cdn.tiny.cloud/1/tiyj0l8xod12yl6wsxklu86x6zdz9xukjvmtn0zqe9xl3ya8/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
<script src="https://cdn.tiny.cloud/1/tiyj0l8xod12yl6wsxklu86x6zdz9xukjvmtn0zqe9xl3ya8/tinymce/6/langs/uk.js"></script> <!-- Украинский язык -->
<script src="~/js/tinymce/plugins/gallery/plugin.js"></script>
<style>
    .form-container {
        max-width: 600px;
        margin: 0 auto;
    }

    .div-box {
        margin-bottom: 10px;
    }
</style>

<div class="form-container">
    <h2>@strTitle</h2>
    <div>
        <form asp-area="Hort" asp-controller="NewsItems" asp-action="Edit" method="post" enctype="multipart/form-data" onsubmit="return saveContent();">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="DateAdded" />
            <input type="hidden" asp-for="TitleImage" />
            <input type="hidden" asp-for="Text" id="text" />
            <div asp-validation-summary="All"></div>
            <div class="div-box">
                <label asp-for="Title">Заголовок</label>
                <input asp-for="Title" />
                <span asp-validation-for="Title"></span>
            </div>
            <div class="div-box">
                <label asp-for="Subtitle">Підзаголовок</label>
                <input asp-for="Subtitle" />
                <span asp-validation-for="Subtitle"></span>
            </div>
            <div class="div-box">
                <label asp-for="Text">Текст</label>
                <textarea asp-for="Text" id="editor"></textarea>
                <span asp-validation-for="Text"></span>
            </div>
            <div class="div-box">
                <label asp-for="TitleImage">Завантажити титульне зображення</label>
                <input type="file" name="titleImageFile" id="titleImageFile" accept="image/*" />
            </div>
            @if (Model.TitleImage != null && Model.TitleImage.Length > 0)
            {
                <div>
                    <img src="data:image/jpeg;base64,@Convert.ToBase64String(Model.TitleImage)" class="img-preview" alt="Прев'ю зображення" style="width: 150px; height: auto;" />
                </div>
            }

            <div class="div-box">
                <label asp-for="Father"></label>
                <select asp-for="Father" asp-items="@(new SelectList(ViewBag.CodeWordsList, "Value", "Text"))">
                    <option value="">Виберіть значения</option>
                </select>
                <span asp-validation-for="Father"></span>
            </div>
            <div class="div-box">
                <label asp-for="ShowBanners">Ця сторінка буде відкриватися на кнопці на банері</label>
                <select asp-for="ShowBanners">
                    <option value="True">Так</option>
                    <option value="False">Ні</option>
                </select>
            </div>
            <div class="div-box">
                <label asp-for="MakePage">Створювати сторінки для цієї статті?</label>
                <select asp-for="MakePage">
                    <option value="True">Так</option>
                    <option value="False">Ні</option>
                </select>
            </div>
            <input type="submit" value="Зберегти" />
        </form>
    </div>
</div>

<!-- Инициализация TinyMCE -->
<script>
        tinymce.init({
        selector: '#editor',
        plugins: 'lists link image media table code gallery',  // Добавляем плагин gallery
        toolbar: 'undo redo | formatselect | fontselect fontsizeselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image media gallery | code',  // Добавляем кнопку gallery
        fontsize_formats: '14pt 16pt 18pt 20pt 22pt 24pt 26pt 28pt 30pt',
        font_formats: 'Times New Roman=times new roman,times,serif;',
        branding: false,
        language: 'uk',  // Устанавливаем украинский язык интерфейса
        setup: function (editor) {
            editor.on('change', function () {
                document.getElementById('text').value = tinymce.get('editor').getContent();
            });
        },
        media_live_embeds: true,  // Позволяет загружать видео через вставку ссылок или с помощью тегов
    });


    function saveContent() {
        document.getElementById('text').value = tinymce.get('editor').getContent();
        return true;
    }
</script>