@{
    ViewBag.Title = "Доступ заборонено";
}

<h1>Доступ заборонено</h1>
<p>У вас немає прав для доступу до цієї сторінки.</p>
<p>Якщо ви вважаєте, що це помилка, будь ласка, зверніться до адміністратора.</p>

<a href="~/">Повернутися на головну сторінку</a>
