@{
    ViewBag.Title = "Доступ запрещен";
}

<h1>Доступ запрещен</h1>
<p>У вас нет прав для доступа к этой странице.</p>
<p>Если вы считаете, что это ошибка, пожалуйста, свяжитесь с администратором.</p>

<a href="~/">Вернуться на главную страницу</a>
